In [46]:
"""Task 1 : python(class - 12/11/2020) """
# task 1) To go through some of the other in built functions

'Task 1 : python(class - 12/11/2020) '

In [47]:
# abs() function - returns the absolute value of a numeric value
print ( abs(-4/3) )

1.3333333333333333

In [48]:
# round() function - returns the rounded value of a numeric value.
print ( round(-4/3) )

-1

In [49]:
# min() function - returns the smallest item of a list or of the typed-in arguments.
x= min(4,2,6,5,3)
y= min("x","b","d","a","p")
print (x)
print (y)

2
a

In [50]:
# max() function - returns the largest item of a list or of the typed-in arguments.
x= max(4,2,6,5,3)
y= max("x","b","d","a","p")
print (x)
print (y)

6
x

In [51]:
# .sort() function - It sorts a list into ascending order. The list can contain strings or numbers.
d=[8,5,7,6,9,3,4,2,1,]
d.sort()
print (d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
# remove() function -removes a given object from the list.
a = [1,2,3,4,5,6,7,8]
a.remove(1)
print(a)

[2, 3, 4, 5, 6, 7, 8]

In [52]:
# sum() function - It sums a list with all types of numeric values
a=[5,6,]
print (sum(a))

11

In [53]:
# .strip() function - if the string has whitespaces at the beginning or at the end, it removes them.
a=" mug "
print (a.strip())

mug

In [54]:
# .replace('old','new') function -replaces a given string with another string.
print (a.replace('g','h'))

 muh

In [55]:
# .split(delimiter) function - splits your string into a list.
a = "hello world"
b = a.split(' ')
print (b)

['hello', 'world']

In [56]:
# 'delimiter'.join() function - It joins elements of a list into one string. 
b = ' '.join(a)
print (b)

h e l l o   w o r l d

In [57]:
# bin() function - Convert an integer number to a binary string prefixed with “0b”.
a= bin(100)
print (a)

0b1100100